@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./map.css";

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

.screen-width {
  max-width: 460px;
}

.H1 {
  font-size: 2rem;
  font-weight: 600;
}

.Cap1 {
  font-size: 1.6rem;
  font-weight: 500;
}
.Cap2 {
  font-size: 1.6rem;
  font-weight: 400;
}
.Cap3 {
  font-size: 1.4rem;
  font-weight: 500;
}
.Cap4 {
  font-size: 1.4rem;
  font-size: 400;
}
.Cap5 {
  font-size: 1.2rem;
  font-weight: 500;
}
.Cap6 {
  font-size: 1.2rem;
  font-weight: 400;
}
body {
  height: 100vh;
  max-height: 100vh;
  background-color: #f0f1f3;
  color: #1c1c1c;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.slick-slide > div {
  margin: 0 1rem;
  margin-right: 0;
}
.slick-list {
  margin: 0 1rem;
  margin-right: 0;
}
